*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 1200px;
    height: 54px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.header ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;
    list-style: none;
}

.header ul li {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.login {
    width: 140px;
    text-align: center;
    height: 38px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 22px;
    font-weight: 900;
}